.App {
  text-align: center;
}

#App-Name {
  font-weight: 1000;
  color: rgb(255, 255, 255);
  position: absolute;
  left: 50px;
  top: 10px;
  width: 150;
  border-bottom: 1px solid var(--border-color);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  background: rgb(109, 106, 106);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(109, 101, 101);
}

.App-link {
  color: #9bd6f1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: "Material Icons", serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: rgb(119, 119, 119);
  --text-color-light: rgb(204, 204, 204);
  --border-color: #4e515531;
  --bg-color: #89adf19f;
  --neutral-color: #fff;
  --theme-color: rgb(199, 197, 197);
}

/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  position: absolute;
  /* font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; */
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--neutral-color);
}

header {
  display: block;
  width: 100%;
  padding: 1.75em 0;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
}

header #logo {
  font-size: 175%;
  text-align: center;
  color: var(--main-color);
  line-height: 0;
}

header #logo .icon {
  padding-right: 0.25em;
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 20em;
}

/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.con {
  font-size: 11px;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}

/* Calendar */

.calendar {
  display: block;
  position: fixed;
  left: 150px;
  width: 1050px;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .header .icon {
  cursor: pointer;
  transition: 0.15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.75);
  transition: 0.25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-color-light);
  font-size: 70%;
  padding: 0.75em 0;
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .cell {
  position: relative;
  height: 120px;
  border-right: 1px solid var(--border-color);
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
}

.calendar .body .selected {
  border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%, #53cbf1 40%);
  border-image-slice: 1;
}

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 82.5%;
  line-height: 1;
  top: 0.75em;
  right: 0.75em;
  font-weight: 700;
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: var(--main-color);
  opacity: 0;
  font-size: 11em;
  position: absolute;
  top: -0.2em;
  right: -0.05em;
  transition: 0.25s ease-out;
  letter-spacing: -0.07em;
}

.calendar .body .cell:hover .bg,
.calendar .body .selected .bg {
  opacity: 0.05;
  transition: 0.5s ease-in;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100% / 7);
  width: calc(100% / 7);
}

.con-p {
  margin-bottom: 5 !important;
  margin-top: 5 !important;
  font-size: 11px;
  max-width: 100%;
}

p {
  margin: 0 !important;
}

h5 {
  margin: 0 !important;
}

* {
  margin: 0px;
  padding: 0px;
}
/* ------------------------------------------- */
#sidebar {
  position: fixed;
  width: 150px;
  height: 100%;
  top: 80px;
  background: var(--theme-color);
}

#sidebar.active {
  left: 0px;
  transition: all 500ms linear;
}

#sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid rgb(148, 142, 142);
  border-right: 2px solid rgb(148, 142, 142);
  border-left: 2px solid rgb(148, 142, 142);
  border-top: 2px solid rgb(148, 142, 142);
}

#sidebar li:hover {
  background: rgb(109, 108, 109);
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.5s;
}

#sidebar ul li ul {
  /* background: rgb(109, 101, 101); */
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  top: 0px;
  left: 0;
  transition: all 0.5s ease;
  margin-top: 0.5rem;
  display: none;
}

#sidebar ul li:hover > ul,
#sidebar ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

#sidebar ul li ul li {
  clear: both;
  width: 100%;
}
/* ----------------------------------- */
.addEvent-form {
  position: absolute;
  left: 1210px;
  border: 5px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
}

#home {
  position: relative;
  left: 180px;
}

.mainHeader {
  position: fixed;
  left: 0px;
  height: 80px;
  top: 0px;
  width: 100%;
  background-image: linear-gradient(#4e4c4c, var(--theme-color));
}

.Login-btn {
  /* background: #ecddcc; */
  padding: 3px;
  /* border-radius: 10%; */
  font-size: 30px;
  /* font-weight: bold; */
  position: fixed;
  right: 100px;
  top: 17px;
}
/* --------------------------------------------------------- */
.notePadContainer {
  position: relative;
  left: 160px;
}
.currentDay {
  position: relative;
  left: 280px;
}
.notePad {
  left: 160px;
  position: absolute;
  font-weight: bold;
  border: 3px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgb(255, 255, 255);
  margin: 0 0 10px 0;
}

.today {
  position: absolute;
  width: 220px;
  left: 0px;
  top: 150px;
  font-weight: bold;
  padding: 5px;
  border: 3px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
}
.today:hover button {
  display: block;
}

.calEventList {
  -webkit-transition: padding 0.2s;
  border-radius: 2px;
}

.calEventList:hover {
  padding: 9px;
  border-radius: 4px;

  -webkit-transition: border-radius 2s;
}

.todaysNotePad {
  position: absolute;
  width: 220px;
  left: 500px;
  font-weight: bold;
  padding: 5px;
  border: 3px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
}

.todaysNotePad:hover button {
  display: block;
}

.NotePadDateList {
  font-weight: bold;
  border: 3px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
}

.dateListItem {
  -webkit-transition: padding 0.2s;
  border-radius: 2px;
}

.dateListItem:hover {
  padding: 9px;
  border-radius: 4px;

  /* HOVER ON */
  -webkit-transition: border-radius 2s;
}

.dateListItem:hover button {
  display: block;
}

button {
  display: none;
}

nav ul {
  height: 500px;
  width: 100%;
}
nav ul {
  overflow: hidden;
  overflow-y: scroll;
}

/* -------------------------------------------------- *//* -------------------------------------------------- */

#dropdown {
  z-index: 1;
}
.itemCategoryName {
  height: 65px;
  z-index: -1;
}

.itemCategoryName a {
  text-decoration: none;
}

.itemCategoryName nav {
  width: 1000px;
  font-family: monospace;
}

.itemCategoryName ul {
  background: rgb(109, 101, 101) s;
  max-height: 500px;
  list-style: none;
  margin: 0;
  padding-left: 0;
  position: relative;
}

.itemCategoryName li {
  color: rgb(255, 255, 255);
  width: 120px;
  background: var(--theme-color);
  display: block;
  float: left;
  padding: 18px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  border-top: 2px solid rgb(148, 142, 142);
}

.itemCategoryName li a {
  color: #fff;
}

.itemCategoryName li:hover {
  background: rgb(175, 0, 96);
  cursor: pointer;
}

.itemCategoryName ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

.itemCategoryName ul li:hover > ul,
.itemCategoryName ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.itemCategoryName ul li ul li {
  clear: both;
  width: 100%;
}

.categoryItemsList {
  width: 189px;
  position: fixed;
  left: 700px;
  top: 150px;
  font-weight: bold;
  padding: 5px;
  border: 3px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
}
/* ------------------------------------------------ */

.createNewItemCatSelect a {
  text-decoration: none;
}

.createNewItemCatSelect nav {
  font-family: monospace;
}

.createNewItemCatSelect ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.createNewItemCatSelect li {
  color: rgb(255, 255, 255);
  background: var(--theme-color);
  display: block;
  float: left;
  padding: 0.5rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  z-index: 0;
}

.createNewItemCatSelect li a {
  color: #fff;
}

.createNewItemCatSelect li:hover {
  background: rgb(175, 0, 96);
  cursor: pointer;
}

.createNewItemCatSelect ul li ul {
  /* background: rgb(109, 101, 101); */
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  top: 27px;
  left: 0;
  transition: all 0.5s ease;
  margin-top: 0.5rem;
  display: none;
}

.createNewItemCatSelect ul li:hover > ul,
.createNewItemCatSelect ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.createNewItemCatSelect ul li ul li {
  clear: both;
  width: 100%;
  z-index: 1;
}

#addItemForm {
  height: 180px;
}
#addItemFormCreateButton {
  position: absolute;
  top: 175px;
  z-index: 0;
}

/* --------------------------------------------------- */

.categoryItemsListClicked nav {
  width: 189px;
  position: flex;
  left: 650px;
  top: 212px;
  font-weight: bold;
  padding: 5px;
  border: 3px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
}


/* --------------------------------------------------- */

.thing {
  position: relative;
  left: 160px;
}

#createNewPartyEvent {
  position: relative;
  left: 200px;
  top: -545px;
  font-weight: bold;
  padding: 5px;
  border: 3px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
}

.selectedPartyEventList {
  position: relative;
  width: 189px;
  font-weight: bold;
  padding: 5px;
  border: 3px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
}

.createNewItem {
  position: relative;
  left: 200px;
  top: -545px;
  font-weight: bold;
  border: 3px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
}
/* ------------------------------------------------------------------------------ */
.contactNames {
  position: relative;
  width: 189px;
  /* left: 300px; */
  /* top: 150px; */
  font-weight: bold;
  padding: 5px;
  border: 3px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
}
